<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" >
      Resistor Calculator 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating">Target resistance</ion-label>
          <ion-input type="number" [(ngModel)]="target"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-select placeholder="Ω" [(ngModel)]="multiplier">
          <ion-select-option value='0.001'>mΩ</ion-select-option>
          <ion-select-option value='1'>Ω</ion-select-option>
          <ion-select-option value='1000'>kΩ</ion-select-option>
          <ion-select-option value='1000000'>MΩ</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand='full' (click)="clear()"> Clear </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand='full' [disabled]="isCalculateDisabled" (click)="calculate()"> Calculate </ion-button>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="ion-text-center"> Results </ion-title>
      </ion-col>
    </ion-row>
    <div *ngFor="let resistance of total_resistance; let i = index" [hidden]=ishidden>
      <ion-row>
        <ion-item lines="none">
          <ion-label>Overall resistance value: {{ resistance }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Error percentage %: {{ total_percentage[i] }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Recommended resistors: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <div *ngFor="let recommended of recommendations[i]">
          <ion-col size="3">
            <ion-button disabled color="primary" expand="full"> {{ recommended }} </ion-button>
          </ion-col>
        </div>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<div class="my-overlay" padding [hidden]="notInputError">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Error!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Enter a valid input (1 ~ 9,100,000)</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>

<div class="my-overlay" padding [hidden]="notMultiplierSet">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Error!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Enter an option from selection dropdown (mΩ ~ MΩ)</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div><div class="my-overlay" padding [hidden]="notInputError">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Error!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Enter a valid input (1 ~ 9,100,000)</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>
<div class="my-overlay" padding [hidden]="notMultiplierError">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Error!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Input must be lower than 9,100,000</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>