.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 20;
  top: 0;
  left: 0;
}

.card{
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}